body {
  padding:10px 100px;
  height:100%;
  position: relative;
  background-color:#20262D;
  color:#fff;
}

html {
  height:100%;
}

.col {
  display:block;
  width:30%;
  height:calc(100vh - 90px);
  overflow: hidden;
  background-color:white;
  color:black;
  padding:10px 20px;
  box-sizing: border-box;
  margin-top:30px;
  box-shadow: 0px 0px 5px rgba(0,0,0,.6);
}

input {
  padding:5px 20px;
  width:80%;
  margin-bottom:10px;
}

.col .content {
  height:calc(70vh);
  overflow-y: scroll;
}

.col h2 {
  text-align: center;
  margin-bottom:10px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.col p {
  cursor: pointer;
}